
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=c995690cb651fa2c05d92ff8eb1d86a7
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
