
//-------------------------------------------
//	Colors
//-------------------------------------------


// Grayscale


$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);


// Branding


$brown: rgb(115, 78, 62);
$orange: rgb(243, 125, 53);
$green: rgb(120, 177, 45);
$tan: rgb(246, 245, 234);
$gray: rgb(77, 77, 77);


// Social Media


$facebook: rgb(59, 85, 147);
$google: rgb(220, 76, 66);
$instagram: rgb(21, 85, 135);
$twitter: rgb(92, 172, 234);
$vimeo: rgb(96, 195, 253);
$youtube: rgb(224, 37, 38);